/* Normal desktop :1200px. */
@media (min-width: 992px) and (max-width: 1500px) {
    .card-wrappper {
        max-width: 300px;
    }
    .card-wrappper span:nth-child(1) {
        margin-left: -26px;
    }
    .sub-title,
    .main-title {
        margin-left: 5px;
    }
    .sidebar-bottom-two {
        bottom: 0px;
    }
    .sidebar-bottom-two-content-area .bottom-text p {
        font-size: 14px;
    }
    .sidebar-bottom-two-content-area .insta-img {
        bottom: 70px;
    }
}

/* Tablet desktop :768px. */

@media (min-width: 768px) and (max-width: 991px) {
    .header-area .img-area {
        margin-bottom: 20px;
    }
    .right-area.mt-20 {
        margin-top: 0px;
    }
    /* flower */
    .siderbar-wrapper .page-title h1 a {
        text-align: left;
    }
    .sidebar-bottom {
        height: 300px;
        margin-top: 0px;
    }
    .sidebar-bottom h5 {
        font-size: 26px;
        line-height: 36px;
    }
    .sidebar-bottom-text-wrap {
        padding-right: 260px;
    }
    .main-area {
        padding-top: 42px;
    }
    .right-col-area {
        padding-left: 15px;
    }
    /* picture v2 */

    .siderbar-wrapper.sidebar-two .sidebar-logo-area {
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two {
        position: unset;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area .flower-img {
        position: unset;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area .insta-img {
        position: unset;
        margin-top: 40px;
    }
    .sidebar-bottom-two-content-area .bottom-text p {
        margin-top: 20px;
        margin-left: 0px;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area {
        padding-bottom: 30px;
    }
}
/* Large Mobile :480px. */

@media only screen and (min-width: 480px) and (max-width: 767px) {
    .right-area .button {
        padding-left: 0px;
    }
    .left-area .button {
        padding-right: 0px;
    }
    .card-item {
        text-align: center;
    }
    .card-wrapper {
        margin-left: 0px;
    }
    .card-item .text span {
        display: block;
    }
    /* flower */
    .siderbar-wrapper .shape-image {
        margin-left: 20%;
    }
    .sidebar-bottom {
        background-size: contain !important;
        margin-top: 0px;
        height: 280px;
        margin-bottom: 50px;
    }
    .sidebar-bottom-text-wrap {
        padding-right: 50px;
    }
    .siderbar-wrapper {
        min-height: fit-content;
    }
    .sidebar-bottom h5 {
        font-size: 24px;
        line-height: 36px;
    }
    .right-col-area {
        padding-left: 15px;
    }
    .main-area {
        padding-top: 40px;
    }

    /* picture v2 */

    .siderbar-wrapper.sidebar-two .sidebar-logo-area {
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two {
        position: unset;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area .flower-img {
        position: unset;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area .insta-img {
        position: unset;
        margin-top: 40px;
    }
    .sidebar-bottom-two-content-area .bottom-text p {
        margin-top: 20px;
        margin-left: 0px;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area {
        padding-bottom: 30px;
    }
}

/* mini mobile */
@media (min-width: 350px) and (max-width: 480px) {
    .sidebar-bottom-text-wrap {
        padding-right: 20%;
    }
    .sidebar-bottom {
        height: 220px;
    }
}
@media (min-width: 320px) and (max-width: 480px) {
    .logo a {
        font-size: 20px;
    }
    .store-name {
        font-size: 30px;
    }
    .header-area {
        margin: 0px 10px;
    }
    .header-area .img-area {
        margin-top: 10px;
        margin-bottom: 20px;
    }
    .left-area .button {
        padding-right: 0px;
    }
    .card-wrapper {
        width: 100%;
    }
    .subtitle {
        margin-left: 0;
    }
    .card-wrappper span:nth-child(1) {
        margin-left: 0px;
    }
    .lists li {
        margin-right: 0px;
    }
    .right-area .button {
        padding-left: 0px;
        margin-top: 20px;
    }
    .right-area .card-item span:nth-child(1) {
        margin-left: 0px;
        margin-right: 40px;
    }
    .card-wrapper {
        margin-left: 0px;
    }
    .btn-area {
        margin-left: 0px;
    }
    .card-item .text {
        display: flex;
        justify-content: space-between;
    }

    /* flower page */
    .sidebar-bottom {
        margin-top: 0px;
    }
    .siderbar-wrapper {
        min-height: fit-content;
        padding-bottom: 25px;
    }
    .sidebar-list-items .item-wrapper {
        display: block;
        padding: 10px 0px;
    }
    .sidebar-list-items .left-area p {
        margin-bottom: 0px;
    }

    .sidebar-list-items .time span {
        font-weight: 400;
        font-size: 14px;
        padding-left: 0px;
    }
    .right-col-area {
        padding-left: 15px;
    }
    .main-area .abs-img {
        position: absolute;
        bottom: 0px;
        right: -20px;
        z-index: -1;
    }
    .sidebar-bottom h5 {
        padding: 0px 10px;
    }

    /* picture version two */

    .siderbar-wrapper.sidebar-two .sidebar-logo-area {
        margin-top: 50px;
        margin-bottom: 20px;
        display: flex;
        justify-content: start;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two {
        position: unset;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area .flower-img {
        position: unset;
    }
    .siderbar-wrapper.sidebar-two .sidebar-bottom-two-content-area .insta-img {
        position: unset;
        margin-top: 40px;
    }
    .sidebar-bottom-two-content-area .bottom-text p {
        margin-top: 20px;
        margin-left: 0px;
    }
}
